.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "title . . . ."
        ". row1 row1 row1 ."
        ". row2 row2 row2 ."
        ". row3 row3 row3 ."
        ". . jake . . ";

}
.row1{
    display: grid;
    grid-area: row1;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
    "cell1 cell2 cell3";
    height: 10%;
}
.row2{
    display: grid;
    grid-area: row2;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
    "cell4 cell5 cell6";
    height: 10%;
}
.row3{
    display: grid;
    grid-area: row3;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
    "cell7 cell8 cell9";
    height: 10%;
}
#cell1{
    grid-area: cell1;
    border-bottom: 1vh solid #3f3f3f;
    border-right: 1vh solid #3f3f3f;
    
}
#cell2{
    grid-area: cell2;
    border-bottom: 1vh solid #3f3f3f;
    border-right: 1vh solid #3f3f3f;
}
#cell3{
    grid-area: cell3;
    border-bottom: 1vh solid #3f3f3f;
}
#cell4{
    grid-area: cell4;
    border-bottom: 1vh solid #3f3f3f;
    border-right: 1vh solid #3f3f3f;
}
#cell5{
    grid-area: cell5;
    border-bottom: 1vh solid #3f3f3f;
    border-right: 1vh solid #3f3f3f;
}
#cell6{
    grid-area: cell6;
    border-bottom: 1vh solid #3f3f3f;
}
#cell7{
    grid-area: cell7;
    border-right: 1vh solid #3f3f3f;
}
#cell8{
    grid-area: cell8;
    border-right: 1vh solid #3f3f3f;
}
#cell9{
    grid-area: cell9;
}

