html {
    background-color: #5cdb95;
    font-family: 'Inconsolata', monospace;
    width: 75vw;
    margin: 2%;
}

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
        "title . ."
        ". subd subd"
        ". . time"
        "jake . .";

}

.date {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "day month dateid year";
    grid-area: subd;
    justify-items: stretch;
    background-color: #8ee4af;
 
    
}

.time {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "hour minute second ampm";
    grid-area: time;
    justify-self: center;
    justify-items: center;
    font-size: 40pt;
    background-color: #8ee4af;
}

#title {
    color: #edf5e1;
    grid-area: title;
    justify-self: stretch;
    font-size: 60pt;
    font-weight: bolder;
    background-color: #8ee4af;
}

#day {
    grid-area: day;
}

#month {
    grid-area: month;
}

#date {
    grid-area: dateid;
}

#subdate {
    grid-area: subd;
}

#year {
    grid-area: year;
}

#hour {
    grid-area: hour;
}

#minute {
    grid-area: minute;
}

#second {
    grid-area: second;
}

#ampm {
    grid-area: ampm;
}

.jakob {
    font-size: 35pt;
}

#jake{
    grid-area: jake;
}